:root {
  --bg-overlay: #cfcdcb;
  --bg-listing: #efedeb;
  --bg-row-even: #fbfbfb;
  --bg-row-hover: #f0f0f0;
  --bg-card: #fff;
  --fg-text: #000;
  --fg-muted: #0000007f;
  --border-radius: 0em;
}

body {
  font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
  background: var(--bg-overlay);
  padding: 0;
  padding-top: 15%;
  margin: 0;
  overflow-y: scroll;
}

.search {
  display: inline-block;
  min-width: max-content;
}

.search-input {
  padding: 0.5em;
  background: none;
  border: none;
}

.search-input:focus {
  outline: none;
  background: var(--bg-card) !important;
}

#search-do, #sort-order {
  cursor: pointer;
}

.breadcrumbs {
  display: inline-block;
}

.breadcrumb {
  padding: 0.5em; 
  display: inline-block;
  text-decoration: none;
  color: var(--fg-text);
  border-radius: var(--border-radius);
  line-height: 1;
}

.breadcrumb:hover:not(.nocrumb), .breadcrumb:focus:not(.nocrumb) {
  background: var(--bg-card) !important;
  outline: none;
}

.shadow {
  box-shadow: 0 0.1em 0.2em -0.1em #0000007f;
}

.listing-container {
  background: var(--bg-listing);
  padding: 2em calc(15% + 1em);
}

.listing {
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
  align-items: center;
}

.item {
  padding: 0.5em;
  text-decoration: none;
  color: var(--fg-text);
}

.item-wrapper {
  display: contents;
}

.item-wrapper:nth-child(even) > .item {
  background: var(--bg-row-even);
}

.item-wrapper:hover > .item {
  background: var(--bg-row-hover) !important;
}


.item-icon {
  border-radius: var(--border-radius);
}

.item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  scroll-margin-top: 15em;
  scroll-margin-bottom: 5em;
  border-radius: var(--border-radius);
}

.item-name:focus {
  outline: none;
  background: var(--bg-row-hover) !important;
}

.item-size {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.item-modified {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.item-right {
  text-align: right;
}

.header-container {
  position: sticky;
  top: 0;
  background: var(--bg-overlay);
  box-shadow: 0 0.5em 1em -0.75em #000000;
  padding: 1em 15%;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header-item-grow {
  flex-grow: 1;
}

.footer-container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-overlay);
  box-shadow: inset 0 0.5em 1em -0.75em #000000;
  padding: 1em 15%;
}

.footer-container a {
  text-decoration: none;
  color: var(--fg-text)
}

.footer-item-1 {
  flex-grow: 1;
}

.footer-item-2 {
  flex-grow: 2;
}

.footer {
  display: flex;
  flex-direction: row;
}

.card {
  background: var(--bg-card);
  padding: 2em;
  border-radius: var(--border-radius);
}

.card-small {
  padding: 0em 2em;
  background: none !important;
  box-shadow: none !important;
}

.card-darker {
  background: var(--bg-listing);
}

.text-small {
  font-size: small !important;
}

.text-muted {
  color: var(--fg-muted) !important;
}

.sort {
  display: inline-block;
  min-width: max-content;
}

.sort-select {
  padding: 0.5em;
  border: none;
  background: none;
  cursor: pointer;
}

.sort-select:focus {
  outline: none;
  background: var(--bg-card) !important;
}

.sort-order {
  cursor: pointer;
}

.keyboard-container {
  position: fixed;
  top: 5em;
  bottom: 5em;
  left: 5em;
  right: 5em;
  overflow: auto;
  display: none;
}

.keyboard-header {
  margin: 0;
  font-size: 2em;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.keyboard-header-title {
  flex-grow: 1;
}

#keyboard-show, #keyboard-close {
  cursor: pointer;
}

.keyboard-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.keyboard-content > div {
  width: max-content;
}

.key {
  border-radius: var(--border-radius);
  background-color: var(--bg-listing);
  padding: 0.5em;
  min-width: 1.25em;
  text-align: center;
  display: inline-block;
}

.key:last-child {
  margin-right: 1em;
}

.key-plus {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.section {
  padding: 2em;
}

.section-header {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

@media all and (max-width: 768px) {
  .listing-container, .header-container, .footer-container {
    padding: 0.5em;
  }

  .card {
    padding: 0.5em;
  }

  .breadcrumbs {
    flex-basis: 100%;
  }
}